
<div>
    <div class="blog-text triple-half">
        <h1> <%= blogPost.title %> </h1>
        <pre>
            <%= blogPost.text.trim() %>
        </pre>
        <h5>----</h5>
        <h5><%= blogPost.name %></h5>
        <h6><%= blogPost.createdAt.toLocaleDateString() %></h6>
    </div>
    
</div>
