.middle-half {
  width: 70%; /* Set the width of the container to 50% of the viewport width */
  min-width: 300px; /* Set a minimum width to ensure content remains readable */
  max-width: 1000px; /* Set a maximum width to avoid excessively wide content on larger screens */
  margin: auto auto;
}

.triple-half {
  width: 60%; /* Set the width of the container to 50% of the viewport width */
  min-width: 300px; /* Set a minimum width to ensure content remains readable */
  max-width: 1000px; /* Set a maximum width to avoid excessively wide content on larger screens */
  margin: auto auto;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: transparent !important; /* Set border color to transparent */
}

.small {
  font-size: 11px;
}

.floating-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000; /* Ensure the button stays on top of other content */
  width: 50px;
  height: 50px;
  border-radius: 70%;
  background-color: #4267b2;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.floating-button:hover {
  width: 60px;
  height: 60px;
}

.blog-text {
  margin-top: 60px;
  padding-left: 30px;
  font-size: 20px;
}

