<!DOCTYPE html>
<html class="middle-half">
    <%- include('../components/head.ejs') %>
    <body>
        <%- include('../components/navbar.ejs') %>
        <form method="POST" action="/submit" id="composeForm">
            <div class="mb-3">
                <label for="blogTitle" class="form-label">
                    Title:
                </label>
                <input type="text" class="form-control" name="blogTitle" id="blogTitle" placeholder="The Little Prince...">
            </div>
            <div class="mb-3">
                <label for="blogPost" class="form-label">Blog:</label>
                <textarea class="form-control" name="blogPost" id="blogPost" rows="15"></textarea>
            </div>
            <input type="submit" class="btn btn-primary"/>
        </form>
        <script src="javascripts/validation.js" type="text/javascript"></script>
    </body>
    <%- include('../components/footer.ejs') %>
</html>